* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body, html, #root {
    width: 100%;
    height: 100%;
}

.x-axis-flex {
    display: flex;
}
.y-axis-flex {
    display: flex;
    flex-direction: column;
}
.loading-wrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.loading {
    width: 20%;
}
.common-button {
    border: none;
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.common-button:active {
    transform: scale(0.9);
}
.credential-page {
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: space-between;
}
.credential-right-part {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.credential-left-part {
    background-color: black;
    color: white;
    width: 50%;
    border-radius: 10px;
}
.login-comp {
    width: 90%;
    justify-content: center;
    align-items: center;
}
.login-comp-head, .sign-up-head {
    width: 80%;
    max-width: 500px;
    justify-content: flex-start;
}
.app-icon {
    width: 40px;
    margin-right: 10px;
}
.login-form {
    max-width: 500px;
    width: 80%;
}
.login-form > div, .login-comp > div {
    margin-bottom: 20px;
}
.input-wrapper > label {
    font-size: 20px;

}
.input-wrapper > input {
    border: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
}
.login-button {
    background-color: black;
    color: white;
}
.register-link-wrapper, .login-link-wrapper {
    margin-top: 10px;
}
.register-link-wrapper a, .login-link-wrapper a {
    margin-left: 5px;
    text-decoration: none;
}

.error-wrapper > input {
    border-color: red;
    color: red;
}

.or-login-option {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.auth-providers-icon-wrapper {
    width: 100%;
    align-items: center;
    justify-content: flex-start;

}
.auth-provider-icon {
    width: 40px;
}

.animation-wrapper-div {
    width: 100%;
    height: 100%;
}

.error-404 {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.error404-header {
    justify-content: center;
    align-items: center;
}
.error404-header, .error404-footer {
    background-color: #fd505c;
    width: 100%;
    height: 80px;
}
.error404-img-wrapper {
    padding: 10px;
}
.error404-header > h1 {
    color: white;
}
.error-404 > img{
    width: 80%;
    max-width: 700px;
}
@media screen and (max-width: 910px) {
    
    .credential-left-part {
        display: none;
    }
    .credential-right-part {
        width: 100%;
    }
    .login-form, .login-comp-head, .sign-up-head {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .error-404 {
        justify-content: center;
    }
}